@tailwind base;
@tailwind components;
@tailwind utilities;

._tabs_61qsz_1 {
    border-bottom: none !important;
}

._opacityInput_69uub_84,
._divider_69uub_109 {
    display: none !important;
}

._textboxColor_69uub_1 {
    width: unset !important;
}

._hexColorInput_69uub_80 {
    flex-basis: 100% !important;
}
._border_s66c9_8 {
    background-color: unset !important;
}

.hue-slider-bar {
    background: linear-gradient(
        to right,
        #f00,
        #ff0,
        #0f0,
        #0ff,
        #00f,
        #f0f,
        #f00
    );
}
.tab-content {
    height: 600px;
}

.build-button {
    &:hover {
        background-color: rgb(128, 128, 128, 0.08);
    }
    &:active {
        background: linear-gradient(
            60deg,
            #f00,
            #ff0,
            #0f0,
            #0ff,
            #00f,
            #f0f,
            #f00
        );
        background-size: 800% auto;
        animation: gradientMove 45s linear infinite;
    }

    @keyframes gradientMove {
        0% {
            background-position: 800% 0%;
        }
        100% {
            background-position: -800% 0%;
        }
    }
}

.input::-webkit-slider-thumb {
    height: 12px !important;
    width: 12px !important;
}

/* .theme-color-swatch {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.selected-theme-color {
    outline: var(--figma-color-bg-brand);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

.swatch-button button {
    border-radius: 99px;
    &:focus {
        border-color: transparent !important;
    }
    &:focus-visible {
        border-color: var(--figma-color-border-brand-strong) !important;
    }
}

.bg-checkerboard {
    background-image: linear-gradient(
            45deg,
            #808080 25%,
            transparent 25%,
            transparent 75%,
            #808080 75%,
            #808080 100%
        ),
        linear-gradient(
            45deg,
            #808080 25%,
            transparent 25%,
            transparent 75%,
            #808080 75%,
            #808080 100%
        );
    background-size: 8px 8px;
    background-position:
        0 0,
        4px 4px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.toggled-theme-color {
    outline: var(--figma-color-bg-brand);
    outline-style: solid;
    outline-width: 4px;
    outline-offset: 2px;
}

.icon-toggle-styles {
    background-color: transparent !important;
    & > label > input {
        & ~ div {
            border-radius: 99px;
            border-color: transparent !important;
        }
        &:focus ~ div {
            border-color: transparent !important;
        }
        &:focus-visible ~ div {
            border-color: var(--figma-color-border-brand-strong) !important;
        }
        &:checked:not(:hover) ~ div {
            background-color: transparent !important;
        }
        &:checked:hover ~ div {
            background-color: var(--figma-color-bg-brand) !important;
        }
    }
}
