@tailwind base;
@tailwind components;
@tailwind utilities;

._tabs_61qsz_1 {
	border-bottom: none !important;
}

._opacityInput_190p3_84,
._divider_190p3_109 {
	display: none !important;
}

._textboxColor_190p3_1 {
	width: unset !important;
}

._hexColorInput_190p3_80 {
	flex-basis: 100% !important;
}
._border_s66c9_8 {
	background-color: unset !important;
}

.hue-slider ._border_s66c9_8 {
	background: linear-gradient(
		to right,
		#f00,
		#ff0,
		#0f0,
		#0ff,
		#00f,
		#f0f,
		#f00
	) !important;
}
.tab-content {
	height: 600px;
}
